body {
  font-family: Arial;
  padding: 20px;
}
.container {
  width: 500px;
  margin: auto;
}
label {
  /* this i use for give each label an block of spaces
    and the margin i use it for the space between labels  */
  display: block;
  margin-bottom: 5px;
}
input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}
#saveBtn {
  border: none;
  width: 100%;
  border-radius: 10%;
  background-color: darkblue;
  color: white;
}

#saveBtn:disabled {
  border: none;
  width: 100%;
  border-radius: 10%;

  background-color: lightblue;
  color: white;
}
table {
  width: 100%;
  margin-top: 10px;
}

th,
td {
  padding: 10px;
  text-align: left;
}
.delete-btn {
  background-color: red;
  color: white;
}
.form-group {
  margin-bottom: 18px;
}
.error-message {
  color: red;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
.search-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.search-container input {
  padding: 8px 12px;
  width: 250px;
}
.sort-btn {
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
  font-size: inherit;
}
.clear-all-btn {
  width: 220px;
  height: 45px;
  background-color: #ef3348;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.clear-all-btn:hover {
  background-color: #d92b3e;
}
.flex {
  display: flex;
  align-items: center;
  gap: 20px;
}
#countUser {
  color: #536dfe;
  font-weight: bold;
  font-size: 18px;
}
.gender-filter {
  margin-top: 20px;
}

.gender-filter h3 {
  color: #53627c;
  font-size: 16px;
  margin-bottom: 25px;
}

.gender-buttons {
  display: flex;
  gap: 18px;
  margin-bottom: 25px;
}

.gender-buttons button {
  width: 140px;
  height: 40px;
  border: none;
  background-color: #8d99ae;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.gender-buttons button:hover {
  opacity: 0.85;
}

.gender-buttons button.active {
  background-color: #5b6ee1;
}
