.card {
  display: flex;
  padding: 10px;
  width: 270px;
  height: 150px;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid gray;
  box-sizing: border-box;

  justify-content: space-between;
}
.card-header {
  background-color: #716f6f84;
  padding: 2%;
}
.card-body {
  display: flex;
  flex-direction: column;
}
.container {
  width: 1000px;
  height: 400px;
  display: flex;
  background-color: #eee;
  align-items: center;
  /* justify-content: center; */
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 20px;
}
